.album-img {
  margin-top: 30px;
}

.album-img img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow:  0.5px 12px 16px -2px rgba(200, 0, 0, .4);
}

.album-img:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

.music-caption {
  margin-top: 50px;
}

.music-caption span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.music-caption span:first-child {
  font-size: 20px;
  font-weight: 600;
  color: purple;
}

.music-caption span:last-child {
  font-size: 12px;
  color: lightpink;
}

.play-range--time {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 10px;
  color: var(--purple);
  opacity: .5;
  margin-top: 20px;
}

/* Range slider */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type=range]{
    overflow: hidden;
    -webkit-appearance: none;
    background-color: lightpink;
    margin: 2px 0px 30px 20px;
    width: 85%;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -3.5px;
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
  background: purple;
  cursor: ew-resize;
  box-shadow: -80px 0 0 80px var(--purple);
} 

/* Play buttons */
.play-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: var(--purple);
  cursor: pointer;
}

.play-btn i:first-child,
.play-btn i:last-child {
  color: lightpink;
}

.play-btn i:not(:nth-child(3)):hover{
  color: rgb(183, 0, 255);
}

#play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow:  0.5px 5px 10px -2px rgba(200, 0, 0, .4);
}

#play-btn:hover{
  box-shadow:  0.5px 4px 8px -2px rgba(200, 0, 0, .4);
  box-shadow: inset 0 2px 6px 0px rgba(140, 0, 255, 1);
}