@import "screen-1.css";
@import "screen-2.css";
@import "variable.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: space-between;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

.screen {
  margin: 100px 50px;
  height: 585px;
  width: 270px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid blue;
  box-shadow: 0px 10px 50px 30px rgba(148, 187, 233, .15);
}

.screen--bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}